<h1>New message form</h1>
<form method="POST" action="/new">
  <label for="author">
    Author: <input type="text" id="author" name="author" />
  </label>
  <label for="message">
    Message: <input type="text" id="message" name="message" />
  </label>
  <button type="submit">Submit</button>
</form>
